@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #eee;
  font-size: clamp(25px, 2vw, 35px);
}